<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>{{ page_title }}</title>
    {% endblock %}

    {% block css %}
        <link href="{% static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet" >
        <link href="{% static 'css/gijgo.min.css' %}" type="text/css" rel="stylesheet" >
        <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" >
    {% endblock %}
</head>

<body>
    <div class="container">
        {% block menu %}
            <div class="menu">
                {% include 'includes/main_menu.html' %}
            </div>
        {%  endblock %}

        {% block content %}
        {% endblock %}

        {% block footer %}
        {% endblock %}

        {% block js %}
            <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
            <script src="{% static 'js/bootstrap.min.js' %}"></script>
            <script src="{% static 'js/gijgo.min.js' %}"></script>
            <script src="{% static 'js/script.js' %}"></script>
        {% endblock %}
    </div>
</body>
</html>